<!-- views/pages/home.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>

<h1>Your Guilds</h1>
<ul class="list-group list-group-flush">
<% guilds.forEach(function(guild) { %>
        
        <li class="list-group-item"><img height="50" width="50" src='<%= guild.icon%>' alt="guild icon" class="rounded-circle"><%= guild.name %><% if(guild.userPerms[3] === "ADMINISTRATOR"){ %>
        <button type="button" class="btn btn-danger">Manage Guild</button>
 <%} %></li>
  
    <% }); %>
    </ul>  
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>