<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
<div class="jumbotron">
<h1 class="display-3">Lunar Beta</h1>
<p class="lead">Hopefully the last bot you'll need.</p>
<hr class="my-4">
<p>Why not try it for yourself?.</p>

</div>
    <div class="media">
  <img src="https://www.thenational.ae/image/policy:1.754649:1532782953/PS2707-%20LUNAR%20ECLIPSE10.jpg?f=1x1&w=128&$p$f$w=89abd3d" class="align-self-center mr-3" alt="...">
  <div class="media-body">
    <h5 class="mt-0">Lunar Beta Testing</h5>
    <p>We are currently searching for servers small and large to participate in trial runs of Lunar. if you are intrested please don't be afraid
    to join our discord server at <a href="https://discord.gg/Rw3gH9Y">Our Support Server</a>.</p>
  </div>
</div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>