      <hr>

      <footer class="footer">
        <p>Original Code By: An Idiot's Guide | Continuted Development : Fallen Guardian |<a href="#top">Back to Top</a></p>
      </footer>
</div>

  </body>
</html>